{% macro twilio_numbers(numbers) -%}
    {% if numbers %}
        <label for="twilio_number">Twilio Number</label>
        <select id="twilio_number" name="twilio_number" class="form-control">
            {% for sid, display in numbers %}
                <option value="{{ sid }}">{{ display }}</option>
            {% endfor %}
        </select>
        <p class="help-block">Need more numbers? <a href="https://www.twilio.com/user/account/phone-numbers/available" target="_blank">Get more numbers</a></p>
    {% else %}
        <div class="alert alert-danger">
            You have no Twilio Numbers, please <a href="https://www.twilio.com/user/account/phone-numbers/available" target="_blank">buy a number</a> before proceeding
        </div>
    {% endif %}
{%- endmacro %}

{% macro mms_media() -%}
    <label for="media" class="control-label">Picture</label>
            <input type="text" class="form-control" name="media" id="media" placeholder="URL link to an image on the web"/>
            <p class="help-block">Optional. Add an image to send MMS messages instead of SMS!</p>
{%- endmacro %}
