{% macro twilio_numbers(numbers) -%}
    {% if numbers %}
        <label for="twilio_number">Twilio Number</label>
        <select id="twilio_number" name="twilio_number" class="form-control">
            {% for sid, display in numbers %}
                <option value="{{ sid }}">{{ display }}</option>
            {% endfor %}
        </select>
        <p class="help-block">Need more numbers? <a href="https://www.twilio.com/user/account/phone-numbers/available" target="_blank">Get more numbers</a></p>
    {% else %}
        <div class="alert alert-danger">
            You have no Twilio Numbers, please <a href="https://www.twilio.com/user/account/phone-numbers/available" target="_blank">buy a number</a> before proceeding
        </div>
    {% endif %}
{%- endmacro %}

{% macro display_voices(voices) -%}
    {% if voices %}
        <label for="voice-engine" class="control-label">Voice:</label>
        <select id="voice-engine" name="voice-engine" class="form-control">
            {% for voice in voices %}
            <option value="{{ voice }}">{{ voice }}</option>
            {% endfor %}
        </select>
    {% else %}
        <div class="alert alert-danger">
            Something bad happened, you have no 'voice' configured.
        </div>
    {% endif %}
{%- endmacro %}
