{% extends 'layout.html' %}
{% import 'common.html' as common %}
{% set title = 'Forwarder' %}

{% block content %}
    <h1>Forwarder</h1>
    <p>Forward your Twilio Number to a phone number.</p>
    <form class="form" method="POST">
        <div class="form-group">
            {{ common.twilio_numbers(numbers) }}
        </div>
        <div class="form-group">
            <label for="number" class=" control-label">Forward To</label>
            <input type="text" id="number" name="number" class="form-control" placeholder="Enter number to receive forwarded calls and messages." />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Start Forwarder</button>
        </div>
    </form>
{% endblock %}