{% extends 'layout_no_menu.html' %}
{% import 'common.html' as common %}
{% set title = 'Noticeboard' %}

{% block content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('{{pusher_key}}');
    var channel = pusher.subscribe('rrk_noticeboard_live');
    channel.bind('new_message', function(data) {
       var old_data = $('#message_container').html();
       var new_data = '<div class="col-sm-4 main center"><img class="noticeboard_img" src="'+ data['image'] + '"><p>'+ data['body']+ '</p><p>Contact '+ data['from']+ ' if you have any information</p></div>';
       $('#message_container').html(old_data + new_data);
       console.log(data);
    });
  </script>
</head>
    <h1>Live Noticeboard</h1>
    <div class="center" id="message_container">
        <div class="col-sm-4 main">
            <img src="http://placekitten.com/g/200/300">
            <p>Description of the image</p>
            <p>Call +447943511601</p>
        </div>
        <div class="col-sm-4 main center">
            <img src="http://placekitten.com/g/200/300">
            <p>Description of the image</p>
            <p>Call +447943511601</p>
        </div>
        <div class="col-sm-4 main center">
            <img src="http://placekitten.com/g/200/300">
            <p>Description of the image</p>
            <p>Call +447943511601 if you have information</p>
        </div>
        <div class="col-sm-4 main center">
            <img src="http://placekitten.com/g/200/300">
            <p>Description of the image</p>
            <p>Call +447943511601 if you have information</p>
        </div>
    </div>

<style>
.center {
    text-align: center;
}
.noticeboard_img {
    height:300;
    width:200;
}
</style>

{% endblock %}
