{% extends 'layout.html' %}
{% import 'common.html' as common %}
{% set title = 'Ringdown' %}

{% block content %}
    <h1>Ringdown</h1>
    <p>Sequentially call a list of people until connecting organizer with the first available. </p>
     <form class="form" method="POST">
        <div class="form-group">
            {{ common.twilio_numbers(numbers) }}
        </div>
        <div class="form-group">
            <label for="numbers" class="control-label">Phone Numbers</label>
            <textarea id="numbers" name="numbers" class="form-control" rows="8"  placeholder="Type or paste phone numbers on different lines. Numbers will be called in the order entered."></textarea>
        </div>
        <div class="form-group">
            <label for="sorry" class="control-label">Message</label>
            <input type="text" id="sorry" name="sorry" class="form-control" placeholder="Type a message to play if no one is available."/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Call List</button>
        </div>
    </form>
{% endblock %}