{% extends 'layout.html' %}
{% import 'common.html' as common %}
{% set title = 'SimpleHelp' %}

{% block content %}
    <h1>Simple Help Line</h1>
    <p>Setup a Help Line to your Twilio Number.</p>
    <form class="form" method="POST">
        <div class="form-group">
            {{ common.twilio_numbers(numbers) }}
        </div>

        <div class="form-group">
            <label for="menu-name" class="control-label">Helpline Name</label>
            <input name="menu-name" type="text" class="form-control" placeholder="enter helpline name">
        </div>
        <hr>
        {%  for key in keys %}
        <div class="row row-top">
            <label for="menu-opts" class="col-xs-3 control-label">key '{{ key }}'</label>
            <div class="col-xs-9">
                <input name="desc_{{ key }}" type="text" class="form-control" placeholder="Prompt">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div id="menu-opts" class="input-group">
                    <select name="type_{{ key }}" class="form-control">
                        <option value="Inactive" selected="selected">Inactive</option>
                        <option value="Call">Call</option>
                        <option value="Info">Info</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-9">
                <input name="value_{{ key }}" type="text" class="form-control" placeholder="Phone number or message">
            </div>
        </div>
        <hr>    
        <!-- /input-group -->
        {%  endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Configure HelpLine</button>
        </div>
    </form>
{% endblock %}