{% extends 'layout.html' %}
{% import 'common.html' as common %}
{% set title = 'Survey' %}

{% block content %}
    <h1>Survey</h1>
    <p>Conduct a survey over SMS</p>
     <form class="form" method="POST">
        <div class="form-group">
            {{ common.twilio_numbers(numbers) }}
        </div>
        <div class="form-group">
            <label for="question" class="control-label">Question</label>
            <input type="text" id="question" name="question" class="form-control" placeholder="The survey question"/>
        </div>
        <div class="form-group">
                {{ common.mms_media() }}
        </div>
         <div class="form-group">
            <label for="numbers" class="control-label">Phone Numbers</label>
            <textarea id="numbers" name="numbers" class="form-control" rows="8" placeholder="Type or paste phone numbers on different lines."></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Survey</button>
        </div>
    </form>
{% endblock %}
