args==0.1.0
clint==0.3.7
Flask==0.10.1
git+https://github.com/dgrtwo/ParsePy.git
gdata==2.0.18
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
Jinja2==2.7.1
MarkupSafe==0.18
phonenumbers==5.9.2
pusher==0.8
six==1.5.2
twilio==3.6.8
Werkzeug==0.9.4
ordereddict==1.1
