a {
  color: #749388;
  font-weight: bold;
}

a:hover, a:active, a:visited, a:focus {
  color: #333333;
}

p {
  padding-bottom: 10px;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: #dceee9;
}

.btn-primary {
  background-color: #60000f;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #47020b;
  border: none;
}

.row-top {
  margin-bottom: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  border-top: 5px #dceee9 solid;
  color: #333333;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #dceee9;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 30px 15px 0;
}

h1 {
  margin-top: 0px;
  color: #555555;
}
.container .credit {
  margin: 20px 0;
}

.container .credit img {
  margin-top: -13px;
  margin-right: 10px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.center {
    text-align: center;
}
.noticeboard_img {
    height:300px;
    width:300px;
}
